<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/favicon/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicon/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/assets/images/favicon/site.webmanifest" | relative_url }}">
  <link rel="mask-icon" href="{{ "/assets/images/favicon/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ "/assets/images/favicon/favicon.ico" | relative_url }}">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="{{ "/assets/images/favicon/browserconfig.xml" | relative_url }}">
  <meta name="theme-color" content="#ffffff">
  <!-- Favicon -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500;700&display=swap" rel="stylesheet">
  {%- if site.soopr -%}
  <link rel="dns-prefetch" href="https://sdk.soopr.co">
  {%- endif -%}

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% if site.theme_config.appearance_toggle %}
    {% include toggle_theme_js.html %}
  {% endif %}

  {%- include custom_head.html -%}
</head>
