{% if site.posts.size > 0 %}
  {% if site.theme_config.show_tags == true %}
    <details>
      <summary>Tags:</summary>
      <ul>
        {% for tag in site.tags %}
          <li>
            <details class="tag">
              <summary>{{ tag[0] }}</summary>
              <span id="{{tag[0]}}">
                <ul>
                  {% for post in tag[1] %}
                    <li>
                      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </span>
            </details>
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}
  <ul>
    {% for post in site.posts %}
      <li class="post-list-item">
        <span class="home-date">
          {{ post.date | date: site.theme_config.date_format }}»
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
