---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}

<body>
  <div>
    <!-- your content goes here  -->
  </div>
  <div class="container-top">
    <a href="#" class="top"></a>
  </div>
</body>

<style>
body {
  display: grid;
  grid-template-columns: auto 0px; 
}

.top {
  --offset: 50px; 
  
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visual styling */
  width:45px;
  aspect-ratio:1;
  background:#ff8b24;
  border-radius:10px;
}
.top:before {
  content:"";
  position:absolute;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:5px solid #fff;
  border-right:5px solid #fff;
}

p {
  font-size: 25px;
}

/* remove the below if you don't want smooth scrolling */
html,
body {
  scroll-behavior: smooth;
}
  
